[submodule "external/lua"]
	path = external/lua
	url = https://github.com/LuaDist/lua.git
[submodule "external/lua-cjson"]
	path = external/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/ansman/box2d.git
