[submodule "external/lua"]
	path = external/lua
	url = https://github.com/kidanger/lua-5.3.git
[submodule "external/lua-cjson"]
	path = external/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/ansman/box2d.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
