CONFIG_CC=emcc
CONFIG_CXX=emcc
CONFIG_LD=emcc

CONFIG_CFLAGS=-v
CONFIG_LDFLAGS=-v -O2 -s WARN_ON_UNDEFINED_SYMBOLS=1 -s ASM_JS=1 -s DISABLE_GL_EMULATION=1 -s DLOPEN_SUPPORT=1 -s FORCE_ALIGNED_MEMORY=1 -s RELOOP=1 -s DOUBLE_MODE=0 --llvm-lto 3 -s OUTLINING_LIMITE=10 -s DISABLE_EXCEPTION_CATCHING=1
CONFIG_LDFLAGS_DRYSTAL=--compression /usr/lib/emscripten/third_party/lzma.js/lzma-native,/usr/lib/emscripten/third_party/lzma.js/lzma-decoder.js,LZMA.decompress -s TOTAL_MEMORY=67108864
CONFIG_LD_EXTENSIONS=extensions/truetype/main.so extensions/web/main.so

CONFIG_TARGET=index_nodata.html
CONFIG_OTHER_TARGETS=decompress.js index_nodata.js index_nodata.js.compress
