CONFIG_CC=emcc
CONFIG_CXX=emcc
CONFIG_LD=emcc

CONFIG_CFLAGS=-v
CONFIG_LDFLAGS=-v -O2 -s WARN_ON_UNDEFINED_SYMBOLS=1
CONFIG_LDFLAGS_DRYSTAL=--minify 1 -s ASM_JS=1 -O2 -s DISABLE_GL_EMULATION=1 -s DLOPEN_SUPPORT=1 -s TOTAL_MEMORY=67108864 --compression /usr/lib/emscripten/third_party/lzma.js/lzma-native,/usr/lib/emscripten/third_party/lzma.js/lzma-decoder.js,LZMA.decompress
CONFIG_LD_EXTENSIONS=extensions/web/main.so

CONFIG_TARGET=index_nodata.html
CONFIG_OTHER_TARGETS=decompress.js index_nodata.js index_nodata.js.compress
CONFIG_REPACK=1
