CONFIG_LUA_DIRECTORY=/home/anger/dev/lua-5.2.2/install
CONFIG_COMPRESS_DIRECTORY=/home/anger/dev/emscripten/third_party

CONFIG_CC=emcc

CONFIG_LD=emcc
CONFIG_SDL_OPTIONS=
CONFIG_GL_OPTIONS=
CONFIG_LUA_OPTIONS=liblua.bc.so

CONFIG_CCFLAGS=-v
CONFIG_LDFLAGS=-v --preload-file data --minify 0 -s ASM_JS=0 -O0

CONFIG_TARGET=index.html
CONFIG_OTHER_TARGETS=decompress.js index.data index.data.compress index.js index.js.compress
